header {
  color: white;
  background-color: rgb(31, 31, 31);
  text-align: center;
}


body {
  background: #1ac98c;
  font-family: "Ubuntu";
}

strong {
  color: white;
  font-family: "Ubuntu";
  font-weight: 700;
}

/* Nav bar styles */
.nav-link {
  color: white;
  transition: all 1s ease-in-out;
  font-size: 1.3rem;

}

.nav-link:hover {
  color: rgb(241, 74, 121);
}

/* Global styles */
.max-height {
  min-height: calc(100vh - 76px);
}

.shadow {
  filter: drop-shadow(0 0 1rem #000000);
}

a {
  color: white;
}

.text-muted {
  color: white !important;
}

.spartan {
  width: 50%;
  height: 50%;
}

.btn-black {
  color: Black !important;
  border-color: black !important;
}

.btn:hover {
  color: #F77AD6;
  background: white;
}









/* .card {
  width: 250px;
  height: 340px;
  border-top-left-radius: 102px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 95px;
  margin-top: -210px;
  box-shadow: rgba(0, 0, 0, 0.637) 0 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.card .adeesh {
  box-shadow: rgba(2, 240, 157, 0.486) 0 0 80px;
  background: rgba(100, 99, 99, 0.425);
  border-top-left-radius: 100px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 90px;
  width: 100%;
  height: auto;
}

.card .adeesh:hover {
  box-shadow: rgba(2, 240, 157, 0.74) 0 0 80px;
}

.cardexp {
  width: 250px;
  height: 340px;
  border-top-left-radius: 102px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 95px;
  margin-top: -210px;
  box-shadow: rgba(0, 0, 0, 0.637) 0 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.cardexp .adeeshexp {
  box-shadow: rgba(0, 173, 253, 0.596) 0 0 25px;
  background: rgba(100, 99, 99, 0.582);
  border-top-left-radius: 100px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 90px;
  width: 100%;
  height: auto;
}

.cardexp .adeeshexp:hover {
  box-shadow: rgba(2, 240, 157, 0.74) 0 0 80px;
}

.media {
  font-size: 40px;
}

.fa {
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: right;
  padding: 20px;
}

.fa-linkedin {
  background: #125688;
  box-shadow: rgba(2, 240, 156, 0.486) 0 0 80px;
  color: white;
  margin-top: -170px;
  margin-right: 100px;
}

.fa-linkedin:hover {
  box-shadow: rgba(2, 240, 156, 0.788) 0 0 80px;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.fa-github {
  background: #4b4b4b;
  box-shadow: rgba(2, 240, 156, 0.486) 0 0 80px;
  color: white;
  margin-top: -170px;
  margin-right: 200px;
}

.fa-github:hover {
  box-shadow: rgba(2, 240, 156, 0.788) 0 0 80px;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.fa-instagram {
  background: #8a8a8ab9;
  box-shadow: rgba(2, 240, 157, 0.486) 0 0 80px;
  color: white;
  margin-top: -170px;
  margin-right: 300px;
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 50%,
      #d6249f 60%,
      #285aeb 80%);
}

.fa-instagram:hover {
  box-shadow: rgba(2, 240, 156, 0.788) 0 0 80px;
  transform: scale(1.1);
  transition: 0.5s ease;
}

/* navigatin bar */
/* .nav {
  font-size: 16px;
  margin-top: -100px;
  background-color: none;
  margin-left: 30px;
  padding: 40px;
  width: 400px;
  text-align: center;
}

.nav .home {
  text-decoration: none;
  padding-right: 10px;
}

.nav .experiences {
  text-decoration: none;
  padding-right: 15px;
}

.nav .courses {
  text-decoration: none;
  padding-right: 15px;
}

.nav .photography {
  text-decoration: none;
  padding-right: 15px;
}

.navexp {
  font-size: 16px;
  margin-top: -100px;
  background-color: none;
  padding: 40px;
  padding-left: 70px;
  width: 400px;
  text-align: center;
}

.navexp .home {
  text-decoration: none;
  padding-right: 15px;
}

.navexp .experiences {
  text-decoration: none;
  padding-right: 15px;
}

.navexp .courses {
  text-decoration: none;
  padding-right: 15px;
}

.navexp .photography {
  text-decoration: none;
  padding-right: 15px;
}

.about {
  font-size: 32px;
  color: #1ac98c;
  margin-top: 70px;
  margin-left: 100px;
}

.about-me-info {
  background-color: #4b4b4b6e;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  width: 750px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.circles {
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.circle2 {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  border: 2px solid #1ac98c;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  background-color: rgb(68, 68, 68);
  margin-left: 100px;
  display: inline-block;
}

.circle2:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.circle4 {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  border: 2px solid #1ac98c;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  background-color: rgb(68, 68, 68);
  margin-top: 50px;
  display: inline-block;
}

.circle4:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.cirtxt {
  text-align: center;
  padding: 90px 0;
  font-size: 18px;
}

.cirtxt2 {
  text-align: center;
  margin-top: -100px;
  margin-left:10px;
  margin-right: 20px;
  padding-top: 10px;
  font-size: 18px;
}

.info {
  color: white;
  line-height: 3;
  text-align: left;
  padding: 35px;
  width: 700px;
}

.allexp {
  background-color: #4b4b4b6e;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  width: 750px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
  line-height: 2;
}

.allexp2 {
  background-color: #4b4b4b6e;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  width: 750px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 20px;
  line-height: 2;
}

.allexp3 {
  background-color: #4b4b4b6e;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  width: 750px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 20px;
  line-height: 2;
}

.exp1 {
  color: #1ac98c;
  padding: 20px;
}

.exp1_1 {
  color: white;
  padding: 20px;
  margin-top: -120px;
  float: right;
}

.exp1_2 {
  color: white;
  margin-top: 15px;
}

li {
  padding-top: 20px;
}

h3 {
  margin-top: -20px;
  color: white;
  padding-left: 20px;
}

h4 {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.date {
  padding-right: 20px;
  margin-top: -100px;
  color: white;
  float: right;
}

.gallery {
  width: 900px;
  height: auto;
  margin-top: -210px;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 20px;
}

.gallery:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in;
}

.gal1 {
  margin-top: auto 0;
  margin-left: auto;
  width: 900px;
  height: auto;
  border-radius: 20px;
}

.form {
  width: 250px;
  height: 300px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #4b4b4b6e;
  box-shadow: rgba(5, 240, 158, 0.671) 0 0 30px;
  border-radius: 20px;
}

label {
  color: white;
}

.input {
  width: 200px;
  border-radius: 8px;
}

.textarea {
  width: 200px
}

Footer
.contact {
  background-color: #4b4b4b6e;
  width: 1000px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.phone {
  width: 120px;
  height: 110px;
  background-color: #1b1b1b;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 20px;
}

.cell-phone {
  font-size: 20px;
  color: #1ac98c;
  margin-top: -120px;
  margin-left: 150px;
}

.cellnum {
  font-size: 15px;
  color: #1ac98c;
  margin-top: 10px;
  margin-left: 150px;
}

.envelope {
  width: 120px;
  height: 120px;
  margin-top: -100px;
  margin-bottom: 20px;
  margin-left: 360px;
}

.email {
  font-size: 20px;
  color: #1ac98c;
  margin-top: -120px;
  margin-left: 520px;
}

.email1 {
  font-size: 15px;
  color: #1ac98c;
  margin-top: 10px;
  margin-left: 520px;
}

.location {
  width: 100px;
  height: 100px;
  margin-top: -100px;
  margin-bottom: 20px;
  margin-left: 700px;
}

.loc {
  font-size: 20px;
  color: #1ac98c;
  margin-top: -100px;
  margin-left: 810px;
}

.address {
  font-size: 15px;
  color: #1ac98c;
  margin-top: 10px;
  margin-left: 810px;
}  */
